@model eshop_Slamenik.Models.ItemyModel
<h1>KOSIK</h1>


@foreach (var item in Model.list)
{
<table>
    <tr>
        <th>ID</th>
        <th>Ks</th>
    </tr>

    <tr>
        <td>@item.id</td>
        <td>@item.ks</td>
    </tr>

</table>
    

}


