@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <script>
        // Move to the new page.
        window.location = "http://localhost:25630/Book/BookList";
    </script>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <br />
    <br />
    <br />

    <div>
        <ul>
            <li><a href="~/html/testing-js.html">Try JavaScript...</a></li>
            <li><a href="~/html/testp4bgr2-js-01-timer.html">Try Timer in JavaScript...</a></li>
            <li></li>
            <li><a href="~/html/testing-forms.html">Try HTML forms...</a></li>
            <li></li>
            <li><a href="/product/list">List the products</a></li>
            <li></li>
        </ul>



    </div>

</div>
